<!DOCTYPE html>
<html>
	<head>
		<title>The Great Numbers Game</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='great_numbers.css') }}">
	</head>
	<body>
		<div class="wrapper">
			<h1 class="title">Welcome to the Great Number Game!</h1>
			<p>I am thinking of a number between 1 and 100</p>
			<p>Take a guess!</p>
            {%if session['correctness'] == "Correct!"%}
                <div>
                    You win! Congratulations!
                    <form action="/guess" method="post">
                        <input type="hidden" name="form_type" value="resetting">
                        <input type="submit" name="Submit" value="Try Again?">
                    </form>
                </div>
            {%else%}
                <div>
                    {{ session['correctness'] }}
                    <form action="/guess" method='post'>
                        <input type="hidden" name="form_type" value="guesser">
                        <input type="text" name="my_guess"><br>
                        <input type="submit" name="Submit" value="Guess!">
                    </form>
                </div>
            {%endif%}
		</div>
	</body>
</html>