<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Submit An Email!</title>
    </head>
    <body>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p class="error">{{message}}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <form action="/survey" method="post">
            Email: <input type="text" name="email">
            <input type="submit" name="Submit" value="Submit!">
        </form>
    </body>
</html>